<!-- MenuITEM HTML injection script -->
  <script type="text/template" id="menuItem">
    <li class="menuListItem">
      <div class="menuItemWrap">
        <div class="menuItemTop">
          <div class="menuItemName">
          <%= item %></div><div class="spacer"><div class="bgimage"></div</div>
          <div class="menuItemPrice"><%= price %></div>
        </div>
        <div class="menuItemBottom">
          <div class="menuItemDescription"><%= description %></div>
          <div class="info"><div class="icons"></div</div>
        </div>
      </div>
    </li>
  </script>