<!DOCTYPE html>
<html>
<head>
  <title>J BAM's</title>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div class="pageWrap">
  
  <div class="Header">
  </div>


  <div class="container">
    
    <div class="banner">
      <img class="img-banner" src="http://www.placecage.com/960/270">
    </div>

    <div class="boxes">
      <div class="box1">
        <p class="boxTitle">
          Latest News
        </p>
        <p class="newsTitle">
          <script type=text/template>
            <%= title %>
          </script>
        </p>
        <p class="newsPost">
          <script type=text/template>
            <%= post %>
          </script>
        </p>
      </div>

      <div class="box2">
        <p class="boxTitle">
          Today's Special
      </div>

      <div class="box3">
        <p class="boxTitle">
          Our Location
        </p>
        <iframe
           width="265"
           height="100"
           frameborder="0" style="border:0"
           src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBwhu5p1I_q2AFctjDPPDmoBEH-YZY4mjc&amp;q=721+Miami+Cir+NE+Atlanta,+GA" allowfullscreen>
        </iframe>
         <p>
          721 Miami Cir NE Atlanta, GA
         </p>
         <span>
           Phone number
         </span>
         <span>
           Phone number 2
         </span>
         <a href="#">
           Map
         </a>
         <a href="#">
           Directions
         </a>
      </div>
    </div>

    <div class="main">
      <div class="content">
        <div class="menu">



        </div>
      </div>
      <div class="photostream">
        <div class="photo1"><img src="http://www.placecage.com/216/216"></div>
        <div class="photo2"><img src="http://www.fillmurray.com/216/216"></div>
        <div class="photo3"><img src="http://www.placecage.com/216/216"></div>
        <div class="photo4"><img src="http://www.fillmurray.com/216/216"></div>
        <div class="photo5"><img src="http://www.placecage.com/216/216"></div>
      </div>
    </div>

  </div>

</div>

  <script src="js/vendor.js"></script>
  <script src="js/main.js"></script>
  <script type="text/template" id="menuDiv">
    <div class="<%= menuSections %>"><p><%= menuSections %></p>
    <ul id="<%= menuSections %>"></div>
  </script>
  <script type="text/template" id="menuItem">
    <li class="menuListItem">
      <div class="menuItemWrap">
        <div class="menuItemTop">
          <div class="menuItemName">
          <%= item %></div><div class="spacer"><div class="bgimage"></div</div>
          <div class="menuItemPrice"><%= price %></div>
        </div>
        <div class="menuItemBottom">
          <div class="menuItemDescription"><%= description %></div>
          <div class="info"><div class="icons"></div</div>
        </div>
      </div>
    </li>
  </script>
</body>
</html>
