<!DOCTYPE html>
<html>
<head>
  <title>J BAM's</title>

   <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!-- Page Wrapper (for background and sizing) -->
<div class="pageWrap">
  
<!-- Header div for logo and media links -->
  <div class="Header">
    <div class="logo">
      <h1>J.Bam's</h1>
    </div>
    <hr></hr>
    <div>
      <ul class="social">
        <li class="zocial-facebook"></li>
        <li class="zocial-twitter"></li>
        <li class="zocial-googleplus"></li>
        <li class="zocial-linkedin"></li>
      </ul>
    </div>
  </div>

<!-- Main container - holds all page content not nav/footer related  -->
  <div class="container">

    <div class="banner">
      <img class="img-banner" src="http://www.placecage.com/1000/270">
    </div>

<!-- triboxes in middle of page -->
    <section>
      <aside>
        <div class="box box1">
          <p class="boxTitle">
            Latest News
          </p>
          <hr></hr>
          <p class="newsTitle">
            <script type=text/template>
              <%= title %>
            </script>
          </p>
          <p class="newsPost">
            <script type=text/template>
              <%= post %>
            </script>
          </p>
        </div>
      </aside>
      <aside><div class="box box2"><p class="boxTitle">
        Today's Special
        <hr></hr></div>
      </aside>
      <aside>
        <div class="box box3">
          <p class="boxTitle">
            Our Location
          </p>
          <hr></hr>
          <iframe
           width="265"
           height="100"
           frameborder="0" style="border:0"
           src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBwhu5p1I_q2AFctjDPPDmoBEH-YZY4mjc&amp;q=721+Miami+Cir+NE+Atlanta,+GA" allowfullscreen>
          </iframe>
          <span>
            721 Miami Cir NE Atlanta, GA
          </span>
          <a href="#">
            Map
          </a>
          <a href="#">
            Directions
          </a>
          <br>
          <span>
            404-123-4567
          </span>
          <span>or</span>
          <span>
            770-123-4567
          </span>
        </div>
      </aside>
    </section>

<!-- Primary div containing Accordion and Photostream -->
    <div class="main">

      <div class="content">
        <nav class="navPanel">
          <ul>
            <li rel="panel1" class="active">Our Story</li>
            <li rel="panel2">Menu</li>
            <li rel="panel3">Reservations</li>
          </ul>
        </nav>
        <div class="accordion story" id="accordion1">
          <ul>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
          </ul>
        </div>
        <div class="accordion menu" id="accordion2">
          <div class="appetizers">
            <p class="sectionTitle">Appetizers</p>
          </div>
          <div class="entrees">
          <p class="sectionTitle">Entrees</p>
          </div>
          <div class="sides">
          <p class="sectionTitle">Sides</p>
          </div>
        </div>
        <div class="accordion form" id="accordion3">
          <form class="reservationTab">
            <ul>
              <li>Full Name:</li>
              <br></br>
                <input class="fullName" placeholder ="Full Name" />
              <br></br>
              <li>Number of Guest:</li>
              <br></br>
                <input class="guest" placeholder ="Size of party" />
              <br></br>
              <li>Date &amp; Time:</li>
              <br></br>
                <input class="date" placeholder ="mm/dd/yy, 00:00" />
              <br></br>
              <li>Special Notes:</li>
              <br></br>
                <input class="notes" placeholder ="Do you have any special request?
                Are you celebrating a special Event?" />
              <br></br>
              <li class="preference">Seating Preference:</li>
              <select>
                <option>Indoor</option>
                <option>Outdoor</option>
                <option>Booth</option>
              </select>
              <br></br>
              <button>Reserve Table</button>

<!-- Photos -->
      <div class="photostream">
      </div>
    </div>

  <script type="text/template" id="photoObject">
    <img class="photo" src="https://farm<%= farm %>.staticflickr.com/<%= server %>/<%= id %>_<%= secret %>.jpg">
  </script>

<!-- Footer -->
    <footer>
      <h5>J.Bam's</h5>
      <p class="subText">Address here   <span>::</span>   (404) 123-4567   <span>::</span>   email</p>
    </footer>

  </div>

</div>

  <script src="js/vendor.js"></script>
  <script src="js/main.js"></script>

<!-- Menu HTML injection script -->
  <script type="text/template" id="appetizers">
    <p class="menuItemName"><%= item  %></p>
    <p class="menuItemPrice"><%= price %></p>
    <p class="menuItemDescription"><%= description %></p>
  </script>

  <script type="text/template" id="entrees">
    <p class="menuItemName"><%= item  %></p>
    <p class="menuItemPrice"><%= price %></p>
    <p class="menuItemDescription"><%= description %></p>
  </script>

  <script type="text/template" id="sides">
    <p class="menuItemName"><%= item  %></p>
    <p class="menuItemPrice"><%= price %></p>
    <p class="menuItemDescription"><%= description %></p>
  </script>

</body>
</html>
