body{
 /*//light black*/
 background-color: #EFD9B4 ;
 margin: 15px;
}


h1{
 font-family: "Great Vibes", sans-serif;
 font-weight: lighter;
 font-size: 80px;
 /*Burgundy*/
 color:  #7B1F35 ;
 text-align: center;
}

.banner {
  padding:5px;
  margin-bottom: 10px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.box {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  position: relative;
}

.main {
  float: right;
}

// h3{
//  font-family: Helvetica, sans-serif;
//  color:  #7B1F35 ;
// }

// p{
//  font-family: Georgia, serif;
//  font-weight: lighter;
 /*Dark Black*/
//  color: #2C272B ;
//  margin: 10%;
//  text-align: justify;
// }

// div{
//  max-width: 40%;
//  /*White*/
//  border: 5px solid #FDFDFD ; 
//  margin-top: 5%;
//  padding: 2%;
//  /*Brown*/
//  background-color: #EFD9B4 ;
//  margin-left: auto;
//  margin-right: auto;
// }