@import 'bourbon/bourbon';
@import 'neat/neat';

body{
 /*//light black*/
 background-color: #1B1A18 ;
 margin-top: 3%;
 margin-left: 16%;
 margin-right: 16%;
}

// the header still needs the social media stuff.
h1{
  margin: 1%;
 font-family: "Great Vibes", sans-serif;
 font-weight: lighter;
 font-size: 80px;
 /*Burgundy*/
 color:  #7B1F35 ;
 text-align: center;
}

.banner {
  padding: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

/*from NEAT temalpate*/
section {
  @include outer-container ;
  aside.box1 { @include span-columns(4); }
  aside.box2 { @include span-columns(4); }
  aside.box3 { @include span-columns(4); }
}



.container {
  width: 1000px;
  overflow: hidden;
}

.box1 {
  float: left;
  margin-bottom: 0;
}
.box2 {
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0;
}
.box3 {
  float: left;
  margin-bottom: 0;
}

.main {
  float: right;
}

h2 {
 font-family: Helvetica, sans-serif;
 color: #7B1F35 ;
}

.main {

}
.photo1 {
  margin-bottom: 3%;
}
.photo2 {
  margin-bottom: 3%;
}
.photo3 {
  margin-bottom: 3%;
}
.photo4 {
  margin-bottom: 3%;
}
.photo5 {
  margin-bottom: 3%;
}

.content {
  width: 75%;
  height: 50%;
  margin-top: 3%;
  overflow: hidden;
// this border causes a line above pic 1
  border: 5px solid #FDFDFD;
  background-color: #EFD9B4;
}

h3 {
 font-family: Helvetica, sans-serif;
 color: #7B1F35 ;
 font-size: 13px;
}

footer {
  background-color: #1B1A18;
}

//////// footer

// h5 {
//  font-family: "Great Vibes", sans-serif;
//  font-weight: lighter;
//  font-size: 80px;
//  /*Burgundy*/
//  color:  #7B1F35;
//  text-align: left;
// }

li {
  list-style-type: none;
  display: inline;
// make current tab #EFD9B4 & background tabs #FDFDFD 
}

li.nav {
  margin-right: 5%;
  list-style-type: none;
  display: inline;
// make current tab #EFD9B4 & background tabs #FDFDFD 
}

p {
 font-family: Georgia, serif;
 font-weight: lighter;
 /*Dark Black*/
 color: #2C272B ;
 margin: 10%;
 text-align: justify;
}

// div{
//  max-width: 40%;
//  /*White*/
//  border: 5px solid #FDFDFD ; 
//  margin-top: 5%;
//  padding: 2%;
//  /*Brown*/
//  background-color: #EFD9B4 ;
//  margin-left: auto;
//  margin-right: auto;
// }