@import 'bourbon/bourbon';
@import 'neat/neat';
@import url(http://weloveiconfonts.com/api/?family=zocial);
$bgcolor: #EFD9B4;

body{
 /*//light black*/
 background-color: $bgcolor;
 margin-top: 3%;
 margin-left: 16%;
 margin-right: 16%;
}

.pageWrap {
  margin: 0;
  padding: 0;
}

// the header still needs the social media stuff.
h1{
  margin: 1%;
  font-family: "Great Vibes", sans-serif;
  font-weight: lighter;
  font-size: 80px;
  /*Burgundy*/
  color:  #7B1F35 ;
  text-align: center;
}

.banner {
  padding: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

.social {
  margin: 0;
  padding: 0;
  background-color: white;
  float: right;
  margin-bottom: 1%;

}

///// zolical - supposed to be the icons///// 
[class*="zolical-"]:before {
  color: white;
  font-family: 'zocial', sans-serif;
}

/*from NEAT temalpate*/
section {
  @include outer-container ;
  aside.box1 { @include span-columns(4); }
  aside.box2 { @include span-columns(4); }
  aside.box3 { @include span-columns(4); }
}



.container {
  width: 1000px;
  overflow: hidden;
}

.box1 {
  float: left;
  margin-bottom: 0;
}
.box2 {
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0;
}
.box3 {
  float: left;
  margin-bottom: 0;
}

.main {
  float: right;
}

h2 { 
 font-family: Helvetica, sans-serif;
 color: #7B1F35 ;
}

.main {

}

.main:hover {

}


.photo1 {
  margin-bottom: 3%;
}
.photo2 {
  margin-bottom: 3%;
}
.photo3 {
  margin-bottom: 3%;
}
.photo4 {
  margin-bottom: 3%;
}
.photo5 {
  margin-bottom: 3%;
}

.content {
  width: 75%;
  height: 50%;
  margin-top: 3%;
  overflow: hidden;
// this border causes a line above pic 1
  border: 5px solid #FDFDFD;
  // bg Brown
  background-color: #EFD9B4;
  ul {
    margin: 0;
    padding: 0;
  }
  .menuItemTop,.menuItemBottom {
  width: 100%;
  }
}
.accordionBg {
  width: 75%;
 height: 5%;
 // color Burgundy
 background: linear-gradient(#EFD9B4, #DEC9AA);
}
.navPanel {
  // color White
  background-color: #FDFDFD;
  margin-top: 0;
  padding: 3%;
}
// hover elements
.content nav li:hover {
  color: #7B1F35;
  font-weight: bold;
}
.content nav li.active {
  // bg Brown
  background-color: #EFD9B4;
  // color Burgundy
  color: #7B1F35;
  padding: 3.5%;
  border-radius: 20% 20% 0 0;
}

.content nav li.hidden {
  background-color: #FDFDFD;
}

.content .accordion {
  // display: none;
  // color Burgundy
  color: #7B1F35;
  // bg Brown
  background-color: #EFD9B4;
}
.content .accordion.active {
  display: block;
  // font white
  color: #FDFDFD;
  // bg Brown
  background-color: #EFD9B4;
}


h3 {
 font-family: Helvetica, sans-serif;
 color: #7B1F35 ;
 font-size: 13px;
}

form {
  width: 40%;
  margin-left: 30%;
  margin-right: 30;
}
form input {
  width: 100%;
  border: 1px solid #897F7D;
  border-radius: 4%;
}

form .preference {
  margin-right: 5%;
}

form input.notes {
  height: 70px;

}

// ////// code per Michaels disign
li {
  list-style-type: none;
  display: inline;
// make current tab #EFD9B4 & background tabs #FDFDFD 
}

li.nav {
  margin-right: 5%;
  list-style-type: none;
  display: inline;
// make current tab #EFD9B4 & background tabs #FDFDFD 
}

p {
 font-family: Georgia, serif;
 font-weight: lighter;
 /*Dark Black*/
 color: #2C272B ;
 margin: 10%;
 text-align: justify;
}


////////// footer /////////////

footer {
  height: 45px;
  background-color: #EFD9B4;
  text-align: left;
}

h5 {
 font-family: "Great Vibes", sans-serif;
 font-weight: lighter;
 /*Brown*/
 color: #7B1F35;
 font-size: 20px;
 margin: 0;
 margin-top: 1%;
 margin-left: 3%;
 float: left;
}

p.subText {
  color: #FDFDFD;
  margin: 0;
  width: 50%;
  position: relative;
}

p.subText span {
  color: #7B1F35;
}


// div{
//  max-width: 40%;
//  /*White*/
//  border: 5px solid #FDFDFD ; 
//  margin-top: 5%;
//  padding: 2%;
//  /*Brown*/
//  background-color: #EFD9B4 ;
//  margin-left: auto;
//  margin-right: auto;
// }